spring:
    jpa:
        show-sql: true
        properties:
            format_sql: true
            dialect: org.hibernate.dialect.MySQL8Dialect
        hibernate:
            ddl-auto: update
    datasource:
        url: jdbc:mysql://localhost:13306/voda?useSSL=false&useUnicode=true&allowPublicKeyRetrieval=true
        driver-class-name: com.mysql.cj.jdbc.Driver
        username: root
        password: root
jwt:
    secret: VodaProjectSecretKeyForJwtTokenGenerationMakeItLongerThan256BitsPlease
    expiration: 86400000 # 1? (??? ??: 24 * 60 * 60 * 1000)